<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877802807088-sdlnc8veb57gib1ip90c2702smgtjf26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877802807088-sdlnc8veb57gib1ip90c2702smgtjf26</string>
	<key>API_KEY</key>
	<string>AIzaSyDybtqOgY3AhRV82CT5H0NQ_RBNalhr4O8</string>
	<key>GCM_SENDER_ID</key>
	<string>877802807088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamgolfz.chatapp</string>
	<key>PROJECT_ID</key>
	<string>mt-knowledge-sharing</string>
	<key>STORAGE_BUCKET</key>
	<string>mt-knowledge-sharing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877802807088:ios:53dca36157f1727cd832f5</string>
	<key>DATABASE_URL</key>
	<string>https://mt-knowledge-sharing.firebaseio.com</string>
</dict>
</plist>